apiVersion: apps/v1
kind: Deployment
metadata:
  name: django-k8s-web-deployment
  labels:
    app: django-k8s-web-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: django-k8s-web-deployment
  template:
    metadata:
      labels:
        app: django-k8s-web-deployment
    spec:
      containers:
      - name: django-k8s-web
        image: docker.io/burakovali/django-k8s:latest
        # resources:
        #   requests:
        #     memory: "128Mi"
        #     cpu: "1"
        #   limits:
        #     memory: "256Mi"
        #     cpu: "1"
        # envFrom:
        #   - secretRef:
        #       name: django-k8s-env
        env:
          - name: POSTGRES_USER
            valueFrom:
              secretKeyRef:
                name: postgresql-secret
                key: user
          - name: POSTGRES_PASSWORD
            valueFrom:
              secretKeyRef:
                name: postgresql-secret
                key: password
          - name: POSTGRES_HOST
            value: postgres-service

          - name: PORT
            value: "8001"
        ports:
        - containerPort: 8001


---

apiVersion: v1
kind: Service
metadata:
  name: django-k8s-web-service
spec:
  type: LoadBalancer
  selector:
    app: django-k8s-web-deployment
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: 8001
